dropbox
python-dotenv
transformers
torch
torchvision
optree>=0.13.0
opencv-python
av
tqdm
dash>=2.9.0
dash-bootstrap-components>=1.4.0
plotly>=5.13.0
networkx>=3.0
svg.path>=1.5
requests
torch-geometric
scikit-learn
yolo-world-onnx